In [1]:
import pandas as pd
import numpy as np

In [2]:
csv_file = "Resources/HT_2013-2020.csv"
human_traffic_df = pd.read_csv(csv_file)
human_traffic_df.head()

,DATA_YEAR,ORI,PUB_AGENCY_NAME,PUB_AGENCY_UNIT,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,DIVISION_NAME,COUNTY_NAME,REGION_NAME,POPULATION_GROUP_CODE,POPULATION_GROUP_DESC,OFFENSE_SUBCAT_ID,OFFENSE_NAME,OFFENSE_SUBCAT_NAME,ACTUAL_COUNT,UNFOUNDED_COUNT,CLEARED_COUNT,JUVENILE_CLEARED_COUNT
0,2016,MO0480600,Independence,NaN,City,MO,Missouri,West North Central,JACKSON,Midwest,"100,000-249,000","Cities from 100,000 thru 249,999",81,Human Trafficking,Commercial Sex Acts,2,0,2,0
1,2016,TX2201200,Fort Worth,NaN,City,TX,Texas,West South Central,PARKER; DENTON; TARRANT,South,"500,000-999,999","Cities from 500,000 thru 999,999",82,Human Trafficking,Involuntary Servitude,1,0,0,0
2,2016,TX2270100,Austin,NaN,City,TX,Texas,West South Central,WILLIAMSON; TRAVIS,South,"500,000-999,999","Cities from 500,000 thru 999,999",82,Human Trafficking,Involuntary Servitude,2,0,0,0
3,2019,NV0020100,Las Vegas Metropolitan Police Department,NaN,City,NV,Nevada,Mountain,CLARK,West,"1,000,000","Cities 1,000,000 or over",81,Human Trafficking,Commercial Sex Acts,15,0,4,0
4,2017,AZ0070500,Chandler,NaN,City,AZ,Arizona,Mountain,MARICOPA,West,"100,000-249,000","Cities from 100,000 thru 249,999",81,Human Trafficking,Commercial Sex Acts,1,0,0,0

In [3]:
reduced_hf_df = human_traffic_df[["DATA_YEAR", "STATE_NAME", "COUNTY_NAME",
                                    "REGION_NAME", "POPULATION_GROUP_CODE", "OFFENSE_NAME", "OFFENSE_SUBCAT_NAME", "ACTUAL_COUNT", "UNFOUNDED_COUNT", "CLEARED_COUNT", "JUVENILE_CLEARED_COUNT"]]
reduced_hf_df

,DATA_YEAR,STATE_NAME,COUNTY_NAME,REGION_NAME,POPULATION_GROUP_CODE,OFFENSE_NAME,OFFENSE_SUBCAT_NAME,ACTUAL_COUNT,UNFOUNDED_COUNT,CLEARED_COUNT,JUVENILE_CLEARED_COUNT
0,2016,Missouri,JACKSON,Midwest,"100,000-249,000",Human Trafficking,Commercial Sex Acts,2,0,2,0
1,2016,Texas,PARKER; DENTON; TARRANT,South,"500,000-999,999",Human Trafficking,Involuntary Servitude,1,0,0,0
2,2016,Texas,WILLIAMSON; TRAVIS,South,"500,000-999,999",Human Trafficking,Involuntary Servitude,2,0,0,0
3,2019,Nevada,CLARK,West,"1,000,000",Human Trafficking,Commercial Sex Acts,15,0,4,0
4,2017,Arizona,MARICOPA,West,"100,000-249,000",Human Trafficking,Commercial Sex Acts,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
4412,2019,Kentucky,FRANKLIN,South,"10,000-24,999",Human Trafficking,Involuntary Servitude,2,0,0,0
4413,2019,Kentucky,FRANKLIN,South,"10,000-24,999",Human Trafficking,Involuntary Servitude,1,0,0,0
4414,2020,Kentucky,FRANKLIN,South,"10,000-24,999",Human Trafficking,Commercial Sex Acts,1,0,0,0
4415,2020,Kentucky,FRANKLIN,South,"10,000-24,999",Human Trafficking,Commercial Sex Acts,1,0,0,0
4416,2020,Kentucky,FRANKLIN,South,"10,000-24,999",Human Trafficking,Commercial Sex Acts,1,0,0,0

In [4]:
rename_ht_df = reduced_hf_df.rename(columns={'DATA_YEAR': 'Year', 'STATE_NAME': 'State', 'COUNTY_NAME': 'County', 'REGION_NAME': 'Region', 'POPULATION_GROUP_CODE': 'Population', 'OFFENSE_NAME': 'Offense Name', 'OFFENSE_SUBCAT_NAME': 'Offense Subcategory'})
rename_ht_df

,Year,State,County,Region,Population,Offense Name,Offense Subcategory,ACTUAL_COUNT,UNFOUNDED_COUNT,CLEARED_COUNT,JUVENILE_CLEARED_COUNT
0,2016,Missouri,JACKSON,Midwest,"100,000-249,000",Human Trafficking,Commercial Sex Acts,2,0,2,0
1,2016,Texas,PARKER; DENTON; TARRANT,South,"500,000-999,999",Human Trafficking,Involuntary Servitude,1,0,0,0
2,2016,Texas,WILLIAMSON; TRAVIS,South,"500,000-999,999",Human Trafficking,Involuntary Servitude,2,0,0,0
3,2019,Nevada,CLARK,West,"1,000,000",Human Trafficking,Commercial Sex Acts,15,0,4,0
4,2017,Arizona,MARICOPA,West,"100,000-249,000",Human Trafficking,Commercial Sex Acts,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
4412,2019,Kentucky,FRANKLIN,South,"10,000-24,999",Human Trafficking,Involuntary Servitude,2,0,0,0
4413,2019,Kentucky,FRANKLIN,South,"10,000-24,999",Human Trafficking,Involuntary Servitude,1,0,0,0
4414,2020,Kentucky,FRANKLIN,South,"10,000-24,999",Human Trafficking,Commercial Sex Acts,1,0,0,0
4415,2020,Kentucky,FRANKLIN,South,"10,000-24,999",Human Trafficking,Commercial Sex Acts,1,0,0,0
4416,2020,Kentucky,FRANKLIN,South,"10,000-24,999",Human Trafficking,Commercial Sex Acts,1,0,0,0

In [5]:
rename_ht_df.dropna(how='any')
rename_ht_df

,Year,State,County,Region,Population,Offense Name,Offense Subcategory,ACTUAL_COUNT,UNFOUNDED_COUNT,CLEARED_COUNT,JUVENILE_CLEARED_COUNT
0,2016,Missouri,JACKSON,Midwest,"100,000-249,000",Human Trafficking,Commercial Sex Acts,2,0,2,0
1,2016,Texas,PARKER; DENTON; TARRANT,South,"500,000-999,999",Human Trafficking,Involuntary Servitude,1,0,0,0
2,2016,Texas,WILLIAMSON; TRAVIS,South,"500,000-999,999",Human Trafficking,Involuntary Servitude,2,0,0,0
3,2019,Nevada,CLARK,West,"1,000,000",Human Trafficking,Commercial Sex Acts,15,0,4,0
4,2017,Arizona,MARICOPA,West,"100,000-249,000",Human Trafficking,Commercial Sex Acts,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
4412,2019,Kentucky,FRANKLIN,South,"10,000-24,999",Human Trafficking,Involuntary Servitude,2,0,0,0
4413,2019,Kentucky,FRANKLIN,South,"10,000-24,999",Human Trafficking,Involuntary Servitude,1,0,0,0
4414,2020,Kentucky,FRANKLIN,South,"10,000-24,999",Human Trafficking,Commercial Sex Acts,1,0,0,0
4415,2020,Kentucky,FRANKLIN,South,"10,000-24,999",Human Trafficking,Commercial Sex Acts,1,0,0,0
4416,2020,Kentucky,FRANKLIN,South,"10,000-24,999",Human Trafficking,Commercial Sex Acts,1,0,0,0